<%= will_paginate %>

<ul class="customer">
  <% @customers.each do |customer| %>
    <li>
    	<%= customer.customer_name %>
    	<%= link_to 'Show', customer %>
    	<%= link_to 'Edit', edit_customer_path(customer) %>
    	<%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>

<%= link_to 'New Customer', new_customer_path %>