<%= will_paginate %>

<ul class="customer">
  <% @rentings.each do |renting| %>
    <li>
    	<%= renting.renting_object %>
    	<%= renting.renting_location %>
    	<%= link_to 'Show', renting %>
    	<%= link_to 'Edit', edit_renting_path(renting) %>
    	<%= link_to 'Destroy', renting, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>

<%= link_to 'New Renting', new_renting_path %>
